:root {
  --bg: #282c34;
  --header: #3b2727;
  --link: #61dafb;
  --text: 3b2727(0, 0%, 100%, 0.88);
}

h1 {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

p {
  font-family: "Benne", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  max-width: 800px;         
}

a {
  font-family: "Benne", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

h2 {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: italic;
  max-width: 1000px; 
}

body {
  background-color: rgb(236, 176, 249); 
  color: #3e2626; 
  font-family: "DM Sans", sans-serif; 
  margin: 0; 
  padding: 0;
  height: 100vh; 
}

.center-text {
  text-align: center;
}

.center-container {
  display: flex;
  flex-direction: column;    
  justify-content: center;  
  align-items: center;       
  height: 100vh;        
  text-align: center;
  margin: auto;           
  padding: 0 20px;         
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 50px 20px 100px; 
  margin-bottom: 200px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 50px 20px 100px; 
  margin-bottom: 200px;
}

.links-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
} 